.youtubevideo-manage-button {
    margin-bottom: 50px; 
}

.youtubevideo-manage-btn {
    
    background-color: #0056b3;
    border-color: #0056b3;
}

.youtubevideo-manage-btn:hover {
    background-color: #003d7a;
    border-color: #003d7a;
}


.youtubevideo-container {
    margin-top: 50px;
}