<form method="post" action="{{action}}" class="youtubesearch-form">
    <input type="text" name="search_query" placeholder="{{#str}}search_placeholder, mod_youtubesearch{{/str}}" required>
    <input type="submit" value="{{#str}}search_button, mod_youtubesearch{{/str}}" class="btn btn-primary">
</form>